html, body {
    width: 100%;
    height: 100%;
    /* remove the extra whites around */
    margin: 0;
}

#canvas {
    width: 100%;
    height: 100%;
}

.block {
    display: block;
}

.wrapper {
    background-image: url('../img/startscreen/front-hotel-street-2.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
} 