body {
    background-image: url("../img/startscreen/front-hotel-street-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}


.hidden {
    display: none;
}

.visible {
    display: initial;
}

body, html {
    height: 100%;
}


